<div close="cancel()">
    <div class="modal-header">
        <h4>Modal Dialog</h4>
    </div>
    <div class="modal-body">
        <label class="control-label" for="name">Carmodel</label><input class="form-control" ng-model="car.name" id="name" ng-value="car.name"/><br />
        <label class="control-label">Type</label>
        <cars-models-list-directive ng-model="car.carmodel"></cars-models-list-directive>
        <label class="control-label" for="created">Created</label><input ui-date class="form-control" ng-model="car.created" id="created" ng-value="car.created"/><br />
        <!--<label class="control-label" for="image">Image</label>-->
        <!--<div class="btn btn-primary btn-upload" upload-button on-upload="onUpload(files)">FileUpload</div>-->
        <!--<input type="file" class="form-control" ng-file-select="uploadFile(file)" ng-model="car.image" id="image" ng-value="car.image"/>-->
        <input type="file" nv-file-select uploader="uploader" options="options" id="ang-file-uploader" />
        <br />
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok(car)">Okay</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</div>