<div class="block">
    <h1>Car Models</h1>
    <div class="table-block">
        <table class="table-responsive table table-bordered">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="carmodel in carmodels">
                <td>
                    <span ng-bind="carmodel.id"></span>
                </td>
                <td>
                    <input ng-model="carmodel.name" ng-change="changeName(carmodel)"/>
                </td>
                <td>
                    <a href="" ng-click="removeCarmodel(carmodel, $index)"><span class="glyphicon glyphicon-remove-sign btn-lg"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Add new model</span>
                </td>
                <td>
                    <input ng-model="new_carmodel.name"/>
                    <button ng-click="addModel(new_carmodel)">Добавить модель</button>
                </td>
                <td>
                    <span></span>
                </td>
            </tr>
        </table>
    </div>
</div>