<div close="reject()">
    <div class="modal-dialog">
        <button class="btn btn-success" ng-click="ok()">Delete</button>
        <button class="btn" ng-click="reject()">Cancel</button>
    </div>
</div>