<h1 class="block title">Cars</h1>

<form class="form-inline">
    <h2 ng-bind="title"></h2>
    <div class="filter-block center-block form-group btn-group">
        <input type="text" class="form-control" placeholder="Name" ng-model="c_name">
    </div>

    <div class="table-block">
        <table class="table-responsive table table-bordered">
            <tr>
                <th><a href="" ng-click="sortByFieldName('name')">Name</a></th>
                <th><a href="" ng-click="sortByFieldName('carmodel')">Car model</a></th>
                <th><a href="" ng-click="sortByFieldName('created')">Created</a></th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="car in cars | filter:{name:c_name, last_name: l_name, created: created} | orderBy:sortedField:reverse">
                <td>
                    <a href="" ng-click="open(car)"><span ng-bind="car.name"></span></a>
                </td>
                <td>
                    <car-model ng-model="car.carmodel" mod="car.carmodel"></car-model>
                </td>
                <td>
                    <span ng-bind="car.created | date:'MM/dd/yyyy'"></span>
                </td>
                <td>
                    <div class="img-wrapper center-block">
                        <span><img class="img-responsive" src="files/{{car.image}}"></span>
                    </div>
                </td>
                <td>
                    <a href="" ng-click="remove(car, $index)"><span class="glyphicon glyphicon-remove-sign btn-lg"></span></a>
                </td>
            </tr>
        </table>
    </div>

    <div class="block">
        <span>Add car</span>
        <a href="" ng-click="addCar()"><span class="glyphicon glyphicon-plus-sign btn-lg"></span></a>
        <p ng-show="cars.length">Общее число автомобилей: {{cars.length}}</p>
    </div>
</form>